= simple_form_for([@project, @task]) do |f|
  = f.error_notification
  .form-inputs
    = render 'task_fields', f: f
    %br
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn'