%h1 Projects

%br

%p
  = link_to content_tag(:i, '', class: 'icon-book') +  " New project", new_project_path, class: 'btn btn-primary'


- unless @projects.empty?
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          %b Project
        %th
          %b Created at
        %th
          %b Description
        %th
          %b Action
      %tbody
        - @projects.each do |project|
          %tr
            %td.span3= link_to project.name, project_path(project)
            %td.span3= project.created_at.strftime("%d/%m/%Y")
            %td= project.description
            %td.span1= link_to content_tag(:i, '', class: 'icon-trash') + ' del', project_path(project), method: :delete, class: 'btn btn-mini btn-danger', confirm: "The project \"#{project.name}\" is going to be deleted. Would you like do proceed?"

- else
  %i
    There is no projects yet.